# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Node.js
# attention: .gitignore should not ignore .node_modules/ and .pnp.cjs by default
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variables file
.env
.env*.local
.env.*.local

# temporary files
.gemini/
/Users/ke-aicc/.gemini/tmp/
build/
tmp/
